@model balaban.Models.Urun
@{
    ViewBag.Title = "Ürün Detay";
}
@*<link href="~/Content/social-master_assets/stylesheets/arthref.min.css" rel="stylesheet" />*@
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
@*<script src="~/Content/social-master_assets/javascripts/socialShare.min.js"></script>*@
<script>
    $(document).ready(function () {

        $('.shareSelector').socialShare({
            social: 'blogger,delicious,digg,facebook,friendfeed,google,linkedin,myspace,pinterest,reddit,stumbleupon,tumblr,twitter,windows,yahoo',
            whenSelect: true,
            selectContainer: '.shareSelector'
        });



    });
</script>
<div class="column-center-padding">
    <div class="centerColumn" id="productGeneral">
        <h1 id="productName" class="productGeneral">@Model.UrunAdi</h1>
        <div class="tie">
            <div class="tie-indent">
                <div class="page-content">
                    <div class="wrapper">
                        <div id="productMainImage" class="centeredContent back">
                            <span class="image">
                                <a href="~/Content/Img/@Model.UrunResimler.First(x=>x.AnaResim==true).ResimYol">
                                    <img src="~/Content/Img/@Model.UrunResimler.First(x=>x.AnaResim==true).ResimYol" alt="@Model.UrunAdi" title="@Model.UrunAdi" width=" 198" height="169"><span class="zoom"></span>
                                </a>
                            </span>
                        </div>
                        <div class="name-type bot-border">@Model.UrunAdi</div>
                        <h2 id="productPrices" class="productGeneral">
                            <span class="price-text">Fiyat: &nbsp;</span>
                            ₺@Model.UrunFiyatlar.First().Fiyat
                        </h2>
                        @using (Html.BeginForm("AddToCart", "Cart", new { id = Model.ID }))
                        {
                            <div id="cartAdd">
                                <strong class="fleft text2">
                                    Sepete Ekle: &nbsp; &nbsp;<input type="text" id="count" class="qty" name="count" value="1" maxlength="6" size="8">
                                </strong>&nbsp; &nbsp; &nbsp; <span class="buttonRow">
                                    <input type="submit" value="Sepete Ekle">
                                    <input type="image" src="~/Content/Img/buttons/sepeteekle1.png" alt="Add to Cart" title="Sepete Ekle" style="margin-top: -12px;">
                                    @*@Html.ActionLink("Sepete Ekle", "AddToCart", "Cart", new { id = Model.ID }, "")
                                        <a href="@Href("~/Cart/AddToCart/" + Model.ID)">
                                            <input type="image" src="~/Content/Img/buttons/sepeteekle1.png" alt="Add to Cart" title="Sepete Ekle" style="margin-top: -12px;">
                                        </a>*@
                                </span>
                            </div>
                        }
                    </div>
                    <div id="productDescription" class="description biggerText">
                        <strong>Detaylar: </strong>
                        @Model.UrunDetay.DetayText
                    </div>
                    <div class="wrapper bot-border">
                        <div class="navNextPrevWrapper centeredContent back">
                            @*<span class="navNextPrevCounter">Product 1/4 &nbsp;</span>*@
                            @*<div class="navNextPrevList"><a href="@Href("~/Home/Details/" + (Model.ID-1))"><img src="~/Content/Img/buttons/english/button_prev.gif" alt="Previous" title=" Previous " width="48" height="22"></a></div>*@
                            <div class="navNextPrevList"><a href="@Href("~/Home/Products/")">Tüm Liste</a></div>
                            @*<div class="navNextPrevList"><a href="@Href("~/Home/Details/" + (Model.ID+1))"><img src="~/Content/Img/buttons/english/button_next.gif" alt="Next" title=" Next " width="50" height="22"></a></div>*@
                        </div>
                        <div class="prod-buttons">
                            <div id="menu" class="shareSelector">
                                <img src="~/Content/social-master_assets/images/share.png" width="50" height="50" />
                            </div>
                        </div>
                    </div>
                    @*<div class="centerBoxWrapper" id="alsoPurchased">
                            <h2 class="centerBoxHeading">Customers who bought this product also purchased...</h2>
                            <div class="centerBoxContentsAlsoPurch" style="width:100%;">
                                <div class="product" align="center">
                                    <div class="margin_col">
                                        <span class="image"><a href="index_1915.htm"><img src="~/Content/Img/02.jpg" alt="Box of 25 Handcrafted Pralines" title=" Box of 25 Handcrafted Pralines " width="198" height="168"></a></span><br><a href="index_1915.htm">Box of 25 Handcrafted Pralines</a>
                                    </div>
                                </div><br>
                            </div>
                            <br class="clearBoth">
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-menu">
        <a href="@Href("~/Home/Index/")">Anasayfa</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        @*<a href="@Href("~/Home/Products/")">Yeni Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;*@
        <a href="@Href("~/Home/Products/")">Tüm Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="@Href("~/Home/Contact/")">Hakkımızda</a>
    </div>
</div>