﻿@model IEnumerable<balaban.Models.Urun>
@{
    ViewBag.Title = "Anasayfa";
}

@using balaban.Models
@{
    //List<Urun> urunler = ViewBag.Urunler;
    List<Urun> urunler = Model.Take(9).ToList();
}
<script src="~/Scripts/jscript_zcoin-slider.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $("#coin-slider").coinslider();
        });
</script>
<div class="banners">
    <!-- ========== CATEGORIES TABS ========= -->
    <!-- ==================================== -->
    <div class="coin-slider" id="coin-slider-coin-slider">
        <div id="coin-slider" style="width: 710px; height: 382px; position: relative; background-image: url(/Content/Img/banner1.jpg); background-position: 0% 0%;">
            <div id="bannerOne"><a href="@Href("~/Home/Index/")"><img src="~/Content/Img/banner1.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <div id="bannerTwo"><a href="@Href("~/Home/Index/")"><img src="~/Content/Img/banner2.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <div id="bannerThree"><a href="@Href("~/Home/Index/")"><img src="~/Content/Img/banner3.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <div class="cs-title" id="cs-title-coin-slider" style="position: absolute; bottom: 0px; left: 0px; z-index: 1000; opacity: 0;">
            </div>
            <div id="cs-navigation-coin-slider" style="display: none;">
                <a href="#" id="cs-prev-coin-slider" class="cs-prev" style="position: absolute; top: 176px; left: 0px; z-index: 1001; line-height: 30px;">prev</a><a href="#" id="cs-next-coin-slider" class="cs-next" style="position: absolute; top: 176px; right: 0px; z-index: 1001; line-height: 30px;">next</a>
            </div>
        </div>
        <div id="cs-buttons-coin-slider" class="cs-buttons">
        </div>
    </div>
    <div id="bannerFour">
        <a href="@Href("~/Home/Index/")">
            <img src="~/Content/Img/banner4.jpg" alt="Free Shipping" title=" Free Shipping " width="710" height="176">
        </a>
    </div>
</div>
<div class="column-center-padding">
    <div class="centerColumn" id="indexDefault">
        <div id="indexDefaultMainContent"></div>
        <div class="centerBoxWrapper" id="featuredProducts">
            <h2 class="centerBoxHeading">Özel Ürünler</h2>
            <div class="jumbotron">
                <h1>Ürünler</h1>
                <ul>
                    @foreach (Urun urun in urunler)
                    {
                        <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                            <div class="product-col">
                                <div class="img">
                                    <a href="@Href("~/Home/Details/" + (urun.ID))"><img src="~/Content/Img/@urun.UrunResimler.First(x=>x.AnaResim==true).ResimYol" alt="@urun.UrunAdi" title="@urun.UrunAdi" width="198" height="169"></a>
                                </div>
                                <div class="prod-info">
                                    <a class="name" href="@Href("~/Home/Details/" + (urun.ID))">@urun.UrunAdi</a>

                                    <div class="text">
                                        @urun.UrunDetay.DetayText.Substring(0, 20)...
                                    </div>
                                    <div class="wrapper">
                                        <div class="price">
                                            <strong>₺@urun.UrunFiyatlar.First().Fiyat</strong>
                                        </div>
                                        <div class="button">
                                            <a href="@Href("~/Home/Details/" + (urun.ID))">
                                                <strong title="Go To This Product's Detailed Information">Detay</strong>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        if ((urunler.IndexOf(urun) + 1) % 3 == 0)
                        {
                            <br class="clearBoth">
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-menu">
        <a href="@Href("~/Home/Index/")">Anasayfa</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        @*<a href="@Href("~/Home/Products/")">Yeni Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;*@
        <a href="@Href("~/Home/Products/")">Tüm Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="@Href("~/Home/Contact/")">Hakkımızda</a>
    </div>
</div>



