@using PagedList
@using PagedList.Mvc
@model IPagedList<balaban.Models.Urun>﻿
@{
    ViewBag.Title = "Ürünler";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="column-center-padding">
    <div class="centerColumn" id="allProductsDefault">
        <h1 id="allProductsDefaultHeading">@ViewBag.Title</h1>
        <div id="sorter" class="tie2">
            <div class="tie2-indent">
                <form name="sorter_form" action="@Href("~/Home/Products/")" method=method ="get">
                    <label for="disp-order-sorter">Sort by: </label>
                    <select name="sortOrder" onchange="this.form.submit();" id="disp-order-sorter">
                        <option value="Name" selected="selected">Ürün Adı (A-Z)</option>
                        <option value="Name_desc">Ürün Adı (Z-A)</option>
                        <option value="Price">Fiyata göre (Düşükten Yükseğe)</option>
                        <option value="Price_desc">Fiyata göre (Yüksekten Düşüğe)</option>
                        
                    </select>
                </form>
            </div>
        </div>
        <br class="clearBoth">
        <br class="clearBoth">
        <div id="allProductsListingTopNumber" class="navSplitPagesResult back"><span>Displaying</span> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        <div class="pagedList">
            @Html.PagedListPager(Model, page => Url.Action("Products", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
        <br class="clearBoth">
        <div class="wrapper">
            @foreach (balaban.Models.Urun i in Model)
            {
                <div class="tie tie-margin1">
                    <div class="tie-indent">
                        <div class="wrapper">
                            <div class="fleft" style="width:33%">
                                <span class="image">
                                    <a class="name" href="@Href("~/Home/Details/" + (i.ID))"><img src="~/Content/Img/@i.UrunResimler.First(x=>x.AnaResim==true).ResimYol" alt="@i.UrunAdi" title="@i.UrunAdi" width="198" height="168"></a>
                                </span><br clear="all"><br clear="all"><span class="stock">Stok: @i.ID</span>
                            </div>
                            <div class="fleft" style="width:66%">
                                Eklenme Tarihi: @i.KayitTarihi.Value.ToLongDateString()<br clear="all"><br clear="all"><hr><br><a class="name" href="@Href("~/Home/Details/" + (i.ID))">
                                    <strong>@i.UrunAdi</strong>
                                </a>
                                <br clear="all">
                                <br clear="all">
                                <span class="price-text">Fiyat: &nbsp;</span><span class="price">₺@i.UrunFiyatlar.First().Fiyat</span><br clear="all"><br clear="all"><div class="btn1">
                                    <a href="@Href("~/Home/Details/" + (i.ID))">
                                        <strong title="Satın Al">Satın Al</strong>
                                    </a>
                                </div>&nbsp;<br><br clear="all">
                            </div>
                        </div>
                        <div class="wrapper">
                            <br><div class="description"><strong>Detaylar:</strong>@i.UrunDetay.DetayText.Substring(0, 100)<a href="@Href("~/Home/Details/" + (i.ID))">... fazlası</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="allProductsListingBottomNumber" class="navSplitPagesResult back"><span>Displaying</span> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        <div class="pagedList">
            @Html.PagedListPager(Model, page => Url.Action("Products", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
        <br class="clearBoth">
    </div>
    <div class="clear"></div>
    <div class="footer-menu">
        <a href="@Href("~/Home/Index/")">Anasayfa</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        @*<a href="@Href("~/Home/Products/")">Yeni Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;*@
        <a href="@Href("~/Home/Products/")">Tüm Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="@Href("~/Home/Contact/")">Hakkımızda</a>
    </div>
</div>