@model balaban.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<div class="column-center-padding">

    <!--content_center-->
    <!-- bof breadcrumb -->
    <!-- eof breadcrumb -->
    <!-- bof upload alerts -->
    <!-- eof upload alerts -->


    <div class="centerColumn" id="timeoutDefault">
        <h1 id="timeoutDefaultHeading">@ViewBag.Title</h1>

        <div id="timeoutDefaultContent" class="content"><p>If you were placing an order, please login and your shopping cart will be restored. You may then go back to the checkout and complete your final purchases.</p><p>If you had completed an order and wish to review it, or had a download and wish to retrieve it, please go to your <a href="http://livedemo00.template-help.com/zencart_34200/index.php?main_page=account">My Account</a> page to view your order.</p></div>
        <form name="login" action="http://livedemo00.template-help.com/zencart_34200/index.php?main_page=login&amp;action=process" method="post">
            <fieldset>
                <legend>Login</legend>

                <label class="inputLabel" for="login-email-address">Email Address:</label>
                <input type="text" name="email_address" size="41" maxlength="96" id="login-email-address"><br class="clearBoth">

                <label class="inputLabel" for="login-password">Password:</label>
                <input type="password" name="password" size="41" maxlength="40" id="login-password"><br class="clearBoth">
                <input type="hidden" name="securityToken" value="145490578cd30c6e35c3b1bc2198e820">
            </fieldset>

            <div class="buttonRow forward"><input type="image" src="~/Content/Img/buttons/english/button_login.gif" alt="Sign In" title=" Sign In "></div>
            <div class="buttonRow back important"><a href="http://livedemo00.template-help.com/zencart_34200/index.php?main_page=password_forgotten">Forgot Your Password?</a></div>
        </form>
        <br class="clearBoth">
    </div>
    <div class="clear"></div>
    <div class="footer-menu">
        <a href="@Href("~/Home/Index/")">Anasayfa</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        @*<a href="@Href("~/Home/Products/")">Yeni Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;*@
        <a href="@Href("~/Home/Products/")">Tüm Ürünler</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="@Href("~/Home/Contact/")">Hakkımızda</a>
    </div>
</div> 