@model balaban.Models.Musteri

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musteri</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusteriTip.TipTanim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriTip.TipTanim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriKod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriKod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VergiNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VergiNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCKimlikNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCKimlikNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VergiDairesi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VergiDairesi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrtibatIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrtibatIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrtibatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrtibatNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
