<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet_boxes.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet_css_buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet_darkbox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet_main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet_tm.css">
    <link rel="stylesheet" type="text/css" media="print" href="~/Content/css/print_stylesheet.css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jscript_xdarkbox.js"></script>
    <script src="~/Scripts/jscript_zcoin-slider.js"></script>

    <!--[if lt IE 7]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
        </div>
    <![endif]-->

    <style type="text/css">
        .class { behavior: url(includes/templates/theme505/PIE.php); }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#coin-slider").coinslider();
        });
    </script>
</head>
<body>
    <div id="header">
        <div class="main-width">
            <div class="wrapper">
                <div class="logo">
                    <a href="@Href("~/Home/Index/")">
                        <img src="http://www.prontotour.com/img/logo.png" alt="">
                    </a>
                </div>
                <div class="cart">
                    <a class="st1" href="@Href("~/Cart/Index/")"><span>Sepet</span></a><span class="one"> <span class="st3">Şu anda Sepette</span>  <a href="@Href("~/Cart/Index/")"><span class="st2">0 items</span></a></span>
                </div>
                <div class="right-head">
                    <div class="lang">
                    </div>
                    <div class="search">
                        <form name="quick_find_header" action="@Href("~/Home/Index/")" method="get">
                            <div>
                                <input type="hidden" name="main_page" value="advanced_search_result"><input type="hidden" name="search_in_description" value="1"><input type="hidden" name="zenid" value="3ghopb02ouhtuj1ue240ud6o03">
                                <span class="corner"></span>
                                <input type="text" name="keyword" class="input1">
                                <input type="image" src="~/Content/Img/buttons/english/search.gif" alt="Search" title=" Search " class="input2">
                            </div>
                        </form>
                    </div>
                    <div class="navigation">
                        @Html.ActionLink("Admin", "Index", "Dashboard", new { area = "Yonetim" }, null)
                        &nbsp; | &nbsp; <a href="@Href("~/Account/Login/")">Log In</a>
                    </div>
                </div>
            </div>
            <div class="wrapper box2">
                <div class="menu">
                    <div id="navEZPagesTop">
                        <ul>
                            <li class="selected  first">
                                <a href="@Href("~/Home/Index/")">
                                    <span>
                                        <span>Anasayfa</span>
                                    </span>
                                </a>
                            </li>
                            @*<li class="  ">
                                    <a href="@Href("~/Home/Products/")">
                                        <span>
                                            <span>Yeni Ürünler</span>
                                        </span>
                                    </a>
                                </li>*@
                            <li class="  ">
                                <a href="@Href("~/Home/Index/")">
                                    <span>
                                        <span>Kampanyalar</span>
                                    </span>
                                </a>
                            </li>
                            <li class="  ">
                                <a href="@Href("~/Home/Products/")">
                                    <span>
                                        <span>Tüm Ürünler</span>
                                    </span>
                                </a>
                            </li>
                            @*<li class="  ">
                                    <a href="@Href("~/Home/Index/")">
                                        <span>
                                            <span>Yorumlar</span>
                                        </span>
                                    </a>
                                </li>*@
                            <li class="  ">
                                <a href="@Href("~/Home/Contact/")">
                                    <span>
                                        <span>Hakkımızda</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp">
        <div class="main-width">
            <table border="0" cellspacing="0" cellpadding="0" width="100%" id="contentMainWrapper">
                <tbody>
                    <tr>
                        <td id="column-left" style="width:230px;">
                            <div style="width:230px;">
                                <div class="box" id="categories" style="width:230px;">
                                    <div class="box-bottom">
                                        <div class="box-top">
                                            <div class="box-right">
                                                <div class="box-left">
                                                    <div class="box-bottom-right">
                                                        <div class="box-bottom-left">
                                                            <div class="box-top-right">
                                                                <div class="box-top-left">
                                                                    <div class="box-head">
                                                                        Ürünler
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <div id="categoriesContent" class="sideBoxContent">
                                                                            <ul>
                                                                                @Html.Partial("_UrunlerPartial")
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="box" id="ezpages" style="width:230px;">

                                        <div class="box-bottom">
                                            <div class="box-top">
                                                <div class="box-right">
                                                    <div class="box-left">
                                                        <div class="box-bottom-right">
                                                            <div class="box-bottom-left">
                                                                <div class="box-top-right">
                                                                    <div class="box-top-left">

                                                                        <div class="box-head">
                                                                            Important Links
                                                                        </div>

                                                                        <div class="box-body">
                                                                            <div id="ezpagesContent" class="sideBoxContent">
                                                                                <ul style="margin: 0; padding: 0; list-style-type: none;">
                                                                                    <li><a href="http://gazete.netgazete.com/gazetebirincisayfalar.php" target="_blank">Gazeteler</a></li>
                                                                                    <li><a href="http://www.hurriyet.com.tr/anasayfa/" target="_blank">hurriyet.com</a></li>
                                                                                    <li><a href="http://www.ahaber.com.tr/" target="_blank">ahaber</a></li>
                                                                                    <li><a href="http://www.google.com" target="_blank">Google</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>*@
                                @Html.Partial("_SpecialProduct")
                            </div>
                        </td>
                        <td id="column-center" valign="top">
                            @RenderBody()
                            <hr />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        <div class="main-width">
            <div class="wrapper">
                <div class="copyright">
                    Copyright © 2014 <a href="@Href("~/Home/Index/")" target="_blank">Burak Çerez</a>. Powered by <a href="@Href("~/Home/Index/")" target="_blank">Krasilon</a> <a href="@Href("~/Home/Index/")">Privacy Notice</a>
                </div>
                <div><!-- {%FOOTER_LINK} --></div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
