@using balaban.Models
@using balaban.DAL
@{
    Urun urun;
    List<Urun> urunler;
    using (var db = new balaban.DAL.bContext())
    {
        urunler = db.Urunler.Include("UrunDetay").Include("UrunResimler").Include("UrunFiyatlar").Randomize().ToList();
        urun = urunler.First();
    }

    string tags = string.Empty;

    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    sb.Append("\"<tags>");
    Random r = new Random();
    foreach (var i in urunler)
    {
        sb.Append(string.Format("<a href='{0}' style='{1}'>{2}</a>", "/Home/Details/" + (i.ID), r.Next(8, 22), i.UrunAdi));
    }
    sb.Append("</tags>\""); 
    tags = sb.ToString(); 
}
<div class="box" id="specials" style="width:230px;">
    <div class="box-bottom">
        <div class="box-top">
            <div class="box-right">
                <div class="box-left">
                    <div class="box-bottom-right">
                        <div class="box-bottom-left">
                            <div class="box-top-right">
                                <div class="box-top-left">
                                    <div class="box-head">
                                        <a href="@Href("~/Home/Products/")">Specials</a>
                                    </div>
                                    <div class="box-body">
                                        <div class="sideBoxContent centeredContent"><div class="img"><a href="@Href("~/Home/Details/" + (urun.ID))"><img src="~/Content/Img/@urun.UrunResimler.First(x => x.AnaResim == true).ResimYol" alt="@urun.UrunAdi" title="@urun.UrunAdi" width="198" height="168"></a><br></div><a class="name" href="@Href("~/Home/Details/" + (urun.ID))">@urun.UrunAdi</a><div class="price"><span class="normalprice">₺@(urun.UrunFiyatlar.First().Fiyat + 5) </span>&nbsp;<span class="productSpecialPrice">₺@urun.UrunFiyatlar.First().Fiyat</span></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SWFObject embed by Geoff Stearns geoff@deconcept.com http://blog.deconcept.com/swfobject/ -->
<script src="~/Content/TagCloud/swfobject.js"></script>
<div id="flashcontent">This will be shown to users with no Flash or Javascript.</div>
<script type="text/javascript">
    var so = new SWFObject("/Content/TagCloud/tagcloud.swf", "tagcloud", "230", "230", "7", "#ffffff");
    // uncomment next line to enable transparency
    so.addParam("wmode", "transparent");
    so.addVariable("tcolor", "0x333333");
    so.addVariable("mode", "tags");
    so.addVariable("distr", "true");
    so.addVariable("tspeed", "100");
    so.addVariable("tagcloud", @Html.Raw(tags));
    so.write("flashcontent");
</script>



