@model IEnumerable<balaban.Models.SiparisOdemeDetay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OdemeTip.OdemeTipAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SatisKanali.KanalAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdemeTutari)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OdemeTip.OdemeTipAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SatisKanali.KanalAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdemeTutari)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
